body {
  background-image: repeating-linear-gradient(0deg, hsla(208,43%,84%,0.09) 0px, hsla(208,43%,84%,0.09) 1px,transparent 1px, transparent 9px),repeating-linear-gradient(90deg, hsla(208,43%,84%,0.09) 0px, hsla(208,43%,84%,0.09) 1px,transparent 1px, transparent 9px),linear-gradient(90deg, hsl(203,93%,43%),hsl(203,93%,43%));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: Gotham Rounded, sans-serif;

}
.grid-container{
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, 100px));
  grid-template-rows: 120px 90px  ;
  grid-auto-rows: 90px;
  margin: 30px;
}

.display {
  background-color: rgba(29, 29, 29, 0.8);
  grid-column: span 4;
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;

}

.previous-operation {
  font-size: 1.5rem;
}

.current-operation{
  font-size: 2.5rem;
}

button {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(133, 241, 255);
}

button:hover {
  background-color:rgb(206, 246, 251);
}

button:active {
background-color:rgb(221, 247, 250);;
}

.ac, .equal {
  grid-column: span 2;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  color: white;
}

a {
  color:rgb(133, 241, 255);
  text-decoration: none;
}

p {
  font-size: 8px;
}